^(include file="Public/header" /)^

<div class="panel panel-default">
    ^(include file="Public/breadcrumb" /)^
    <div class="panel-body">
	{:W('Form/form',array($form))}
	<table class='table'>
	    <thead>
		<tr>
		    <th>管理员</th>
		    <th>当日操作次数</th>
		    <th>操作</th>
		</tr>
	    </thead>
	    <tbody>
		^(volist name="list" id="vo" key="k")^
		<tr>
		    <td>{$vo.admin}</td>
		     <td>{$vo.num}</td>
		     <td>
			 <a class="btn btn-default" href="{:U('logs',array('admin'=>$vo['admin'],'addtime'=>$info['addtime']))}"><i class="glyphicon glyphicon-eye-open"></i> 详情</a>
		     </td>
		    </tr>
		    ^(/volist)^
		</tbody>
	    </table>
	    {$page}
	</div>
    </div>
    ^(include file="Public/footer" /)^