.dataTables_length select {
    width: 50px;
}
.dataTables_filter input, .dataTables_length select {
    display: inline-block;
    margin-bottom: 0;
}
.center{text-align: center;}
.form-inline .form-group{margin-right: 5px}
.form-inline .form-control{display: block}
.kindeditor {	height: 500px;}